* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}
*:focus{
    outline: none;
    border: none;
}
 a {
     color: unset;
 }

 header {
     background-image: url('../images/hero.png');
     background-position: center;
     background-size: cover;
     height: 60vh;
 }
 /* header styles */

 /* navbar styles */
 nav {
     display: flex;
     flex-direction: row;
     align-items: center;
     padding: 25px 0px;
     justify-content: space-between;
     width: 90%;
     margin: 0px auto;
 }
  
nav .nav-item {
    color: white;
    margin: 0px 10px;
}

nav div.container {
    display: flex;
}

nav .nav-item.app {
    font-weight: 900;
    font-size: 0.9rem;
}
nav .nav-item {
    font-weight: 300;
    font-size: 1.1rem;
}

header div.content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 80%;
    height: 70%;
    margin: 0px auto;
}

header img.logo {
    width: 300px;
}

header h1 {
    font-size: 2.4rem;
    color: white;
    font-weight: 400;
}
/* header content  */

header div.search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 70%;
    border-radius: 10px;
}
header div.search-box div.select i{
    margin: 10px;
}
header div.search-box div.select i {
    color: #f57082;
}
header div.search-box div.input i {
    color: #828282b7;
}

header div.search-box div.seperator {
    height: 50%;
    background-color: #8282829b;
    width: 2px;
}

header div.search-box div.input {
    flex-grow: 80;
}
header div.search-box div.input input {
    width: 100%;
    font-size: 1rem;
    align-items: center;
}

div.search-box div{
    display: flex;
    align-items: center;
    height: 50px;
    margin: 0px 50px;
}

header div.search-box div.select select {
    flex-grow: 1;
    font-size: 1rem;
    color: #757575;
}

/* Nearby places section */

section.nearby {
    min-height: 40vh;
   
}

section.nearby div.container {
    width: 90%;
    margin: 0px auto;
    text-align: center;
    padding: 40px 0px;
}

section.nearby div.container h3 {
    font-size: 2.2rem;
    font-weight: unset;
}

section.nearby div.box {
    max-width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 15px;
    font-size: 1.2rem;
    border-radius: 10px;
    margin-top: 5%;
 
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

section.nearby div.box:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

/* app section */
section.app {
    min-height: 300px;
    background-color: #fefbf6;
}
section.app div.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 0px auto;
}
section.app div.container img{
    max-width: 300px;
    display: block;
}
section.app div.container div.form{
    max-width: 485px;
}
section.app div.container div.form h1{
    font-size: 3rem;
}
section.app div.container div.form small{
    display: block;
    font-size: 1.1rem;
    font-weight: 100;
    color: #393737;
    margin: 20px 0px;
}

/* radio button */
/* _________________________ */
section.app div.input {
    width: 100%;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    height: 50px;
}

section.app div.input input {
    flex-grow: 70;
    background-color: #fff;
    border: 1px solid #CFCFCF;
    border-radius: 5px;
    margin: 0px 10px 0px 0px;
    font-size: 1.2rem;
    padding-left: 10px;
}

section.app div.input input::placeholder {
    padding-left: 10px;
}

section.app div.input button {
    background-color: #ED5A6B;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 100;
}

section.app div.download {
    margin: 20px 0px;
    font-weight: 100;
    color: grey;
}
section.app div.form div.download div{
    margin: 5px;
}

section.app div.download div.content img {
    max-width: 150px;
    display: inline-block;
    margin:5px 5px;
}

section.options {
    min-height: 60vh;
}

section.options div.container {
    width: 90%;
    margin: 30px auto;
    margin: 5%;
}

section.options div.container h2 {
    font-size: 2rem;
}

section.options div.container h3 {
    font-size: 1.6rem;
}

section.options div.container div {
    margin-top: 40px;
}

section.options div.container div ul {
    margin-top: 20px;
    padding: 20px;
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
}

section.options div.container div ul li {
    margin: 3px 10px;
    color: grey !important;
    font-size: 1.1rem;
    font-weight: 100;
}